/* You can add global styles to this file, and also import other style files */
@import "!~bootstrap/dist/css/bootstrap.css";
body {
  margin-top: 20px;
  margin-bottom: 20px;
background-image: url("assets/book.jpg");
}



.input-group {
  margin-bottom: 15px;
}
